* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  position: relative;
}
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css";

button,
span {
  display: block;
}
html {
  font-family: "Montserrat";
  color: $grey;
}
section {
  padding: 20px 0;
}
.header {
  background-color: $light_green;
  padding: 42px 0;
  position: relative;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    span {
      font-family: "Inika";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;

      &:before {
        content: "";
        width: 20px;
        height: 20px;
        background: url("../img/logo_vector.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
      }
    }
  }

  ul {
    width: 452px;
    display: flex;
    justify-content: space-between;

    li {
      a {
        font-family: "Inika";
        font-weight: 400;
        font-size: 16px;
        line-height: 50px;
        color: #010201;
      }
      .item-active {
        font-weight: 700;
        font-size: 16px;
        line-height: 50px;
        color: #e06733;
      }
    }
  }
}
.burger {
  display: none;
  @media (max-width: 760px) {
    display: block;
  }
}
.fa-bars {
  font-size: 20px;
}

.navigation {
  @media (max-width: 760px) {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    flex-direction: column;
    background-color: #e06733;
    transition: 0.2s;
    // transform: translate(0, -300%);
    display: none;
  }
}
.navigation .active {
  // transform: translate(0, 0);
}

@media (max-width: 380px) {
}

// @media (max-width: 760px) {
// }
