.welcome {
  background-color: #edf2ec;
  max-width: 1440px;
  margin: 0 auto;
}

.welcome-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;

  .pic-leafs {
    display: flex;
    width: 30%;
    order: 1;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .main-info {
    width: 50%;
    order: 2;
    .main-text-content {
      display: flex;
      flex-direction: column;
      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 50px;
        padding-bottom: 42px;

        span {
          display: inline-block;
          color: #499a18;
        }
      }

      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 35px;
        padding-bottom: 48px;
      }
    }
    button {
      border: 2px solid #e06733;
      border-radius: 10px;
      width: 158px;
      height: 44px;
      background-color: $light_green;
    }
  }
}

@media (max-width: 760px) {
  .welcome {
    max-width: 760px;
  }
  .welcome-wrap {
    padding: 0 35px;

    .pic-leafs {
      order: 2;
      width: 40%;
      height: 40%;
    }
    .main-info {
      order: 1;
      width: 60%;
      .main-text-content {
        h1 {
          font-size: 35px;
          padding-bottom: 30px;
        }
        p {
          font-size: 16px;
          padding-bottom: 30px;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .welcome-wrap {
    // padding: 0 35px;
    .pic-leafs {
      display: none;
    }
    .main-info {
      margin: 0 auto;

      .main-text-content {
        h1 {
          font-size: 25px;
          padding-bottom: 30px;
        }
        p {
          font-size: 16px;
          padding-bottom: 30px;
        }
      }
    }
  }
}
