* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  position: relative;
}
button,
span {
  display: block;
}
html {
  font-family: "Montserrat";
  color: $grey;
}
section {
  padding: 20px 0;
}
.header {
  background-color: $light_green;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding: 0 15px;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;

  .logo {
    padding: 0 23px;
    display: flex;
    align-items: center;

    p {
      font-family: "Inika";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;

      &:before {
        content: "";
        background: url("../img/logo_vector.png") no-repeat;
        position: absolute;
        width: 19px;
        height: 22px;
        left: -15px;
        background-size: 15px 18px;
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-between;

    li {
      padding: 0 23px;
      a {
        font-family: "Inika";
        font-weight: 400;
        font-size: 16px;
        line-height: 50px;
        color: #010201;
      }
      .item-active {
        font-weight: 700;
        font-size: 16px;
        line-height: 50px;
        color: #e06733;
      }
    }
  }
}

@media (max-width: 380px) {
  ul {
    overflow: hidden;
    width: 20px;
    height: 20px;
  }
  .header-wrap {
    padding: 0 25px;
  }
}

@media (max-width: 760px) {
  .header {
    max-width: 760px;
    padding: 34px 0;
  }
  .header-wrap {
    padding: 0 35px;
  }
  nav {
    background: url("../img/burger.png") no-repeat;
    background-position: 0 2px;
    padding-top: 2px;
  }
  ul {
    overflow: hidden;
    width: 20px;
    height: 20px;
  }
}
